<div class="container">
	<div class='row'>
  <div class='col-xs-3'>
    <h2>User info</h2>
    <%= render 'users/profile', user: @user %>
    <h2>New book</h2>
    <%= render 'newform', book: @newbook %>
  </div>
  

  <div class='col-xs-9'>
		<h2>Book detail</h2>
		<table class='table'>
		  <tr class="book_<%= @book.id %>">
        <%= render 'favorite_show', book: @book %>
      </tr>
    </table>


			<div class="container">
				<div class="row">
					<div id="comment_form" class="col-xs-9">
						<%= form_with model: [@book, @newcomment], data: {remote: true} do |form| %>
						  <%= form.text_area :content, rows:'5', class: "form-control" %>
						  <%= form.submit "送信", class: "btn btn-lg btn-base-1 mt-20" %>
						<% end %>
					</div>
				</div>
			</div>
			<div class="container">
			<div class="row">
			<div class="col-xs-9">
				<h2>Comments</h2>
				<table class="table" id="comments_<%= @book.id %>">
						<%= render "books/comments", comments: @comments %>
				</table>
			</div>
			</div>
			</div>

	</div>
</div>

</div>